<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <div v-if="json !== null">
            <div class="cripto-wrapper" v-bind:class="{calculate_wrapper: calculateStatus}">
            <div id="result" v-if="calculatedValue !== null"><div class="media-item">different is</div>{{calculatedValue}} $</div>
            <button class="button button--calc" v-if="calculateStatus" @click="calculateBtc">Calc</button>
            
            <btc-modal :json="json" v-if="!calculateStatus">

            </btc-modal>
            <calculate-modal :json="json" v-if="calculateStatus">

            </calculate-modal>
            <span class="calculate-symbol" v-if="calculateStatus">&#45;</span>
            <calculate-modal :json="json" v-if="calculateStatus">
            </calculate-modal>
            <button class="button" @click="calculateStatus = !calculateStatus">Calculate Difference</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="script/script.js"></script>
</body>

</html>